<a href="https://colab.research.google.com/github/usm-cos422-522/courseMaterials/blob/main/Lectures/Babynames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pp
%matplotlib inline

In [ ]:
import urllib.request
import os.path
import zipfile

data_url = "https://www.ssa.gov/oact/babynames/state/namesbystate.zip"
local_filename = "babynamesbystate.zip"
if not os.path.exists(local_filename): # if the data exists don't download again
    with urllib.request.urlopen(data_url) as resp, open(local_filename, 'wb') as f:
        f.write(resp.read())

zf = zipfile.ZipFile(local_filename, 'r')

st_name = ['NH.TXT', 'MA.TXT',  'ME.TXT', 'VT.TXT']
field_names = ['State', 'Gender', 'Year', 'Name', 'Count']
babynames = pd.DataFrame()

for st in st_name:
    with zf.open(st) as fh:
        st_babynames = pd.read_csv(fh, header=None, names=field_names)
        babynames = pd.concat([babynames, st_babynames])

babynames.sample(10)

       State Gender  Year     Name  Count
17585     ME      F  1981    Susan     18
12927     MA      F  1943     Jean    437
12099     VT      F  1995    Megan     32
16696     NH      F  2000  Rebecca     48
74990     MA      M  1922   Calvin     16
34287     NH      M  1995     Alex     29
114576    MA      M  2011   Austin    120
7379      NH      F  1958    Sandy      6
94285     MA      M  1976     Jeff     12
38901     ME      M  1963    James    379

In [ ]:
babynames.index

Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            29473, 29474, 29475, 29476, 29477, 29478, 29479, 29480, 29481,
            29482],
           dtype='int64', length=245450)

In [65]:
# How many years did the name appear in a state ?
babynames['Name'].value_counts()

John       518
Robert     510
William    500
James      498
Joseph     483
          ...
Coen         1
Shannah      1
Jerrod       1
Ileana       1
Heide        1
Name: Name, Length: 5705, dtype: int64

In [ ]:
babynames.iloc[1:5]     # or babynames[1:5]

  State Gender  Year     Name  Count
1    NH      F  1910  Dorothy     39
2    NH      F  1910    Alice     35
3    NH      F  1910    Helen     30
4    NH      F  1910  Lillian     29

In [ ]:
babynames_index = babynames.set_index(['Name','State','Year']).sort_index()
babynames_index

                  Gender  Count
Name   State Year
Aaden  MA    2008      M     10
             2009      M     25
             2012      M      5
       ME    2009      M      5
Aadhya MA    2013      F      8
...                  ...    ...
Zyaire MA    2021      M     13
Zyla   MA    2021      F      5
Zylah  MA    2020      F      5
Zyon   MA    2013      M      6
             2021      M      8

[245450 rows x 2 columns]

In [ ]:
babynames_index.index

MultiIndex([( 'Aaden', 'MA', 2008),
            ( 'Aaden', 'MA', 2009),
            ( 'Aaden', 'MA', 2012),
            ( 'Aaden', 'ME', 2009),
            ('Aadhya', 'MA', 2013),
            ('Aadhya', 'MA', 2014),
            ('Aadhya', 'MA', 2015),
            ('Aadhya', 'MA', 2016),
            ('Aadhya', 'MA', 2018),
            ('Aadhya', 'MA', 2019),
            ...
            ( 'Zyair', 'MA', 2021),
            ('Zyaire', 'MA', 2016),
            ('Zyaire', 'MA', 2018),
            ('Zyaire', 'MA', 2019),
            ('Zyaire', 'MA', 2020),
            ('Zyaire', 'MA', 2021),
            (  'Zyla', 'MA', 2021),
            ( 'Zylah', 'MA', 2020),
            (  'Zyon', 'MA', 2013),
            (  'Zyon', 'MA', 2021)],
           names=['Name', 'State', 'Year'], length=245450)

In [ ]:
babynames_index.columns

Index(['Gender', 'Count'], dtype='object')

In [ ]:
#Hierarchical index makes it easier to locate subsets of records. What are all the years that the name
# Bruce was given as a name in the state or Maine ?
babynames_index.loc[('Bruce','ME'),['Count']]      # babynames_index.loc[('Bruce', 'ME')].index will gives years

      Count
Year
1917      5
1918      6
1923      5
1924     12
1925      8
...     ...
1991     12
1992      8
1994      5
1995      5
1998      5

[75 rows x 1 columns]

In [ ]:
# How many babies named Bruce in 1960 in each of the NE states
babynames_index.loc[('Bruce',slice(None),1960)]

      Gender  Count
State
MA         M    405
ME         M    127
NH         M     59
VT         M     43

In [ ]:
babynames_index.loc['Bruce',slice('MA','ME'),1960]

                 Gender  Count
Name  State Year
Bruce MA    1960      M    405
      ME    1960      M    127

In [ ]:
# How many babies named Bruce where named in the state of Maine ?
babynames_index.loc[('Bruce','ME')]['Count'].sum()

3843

In [ ]:
# Find the maximum number of Bruces in a year
babynames_index.loc[('Bruce','ME')]['Count'].max()

156

In [ ]:
# Average number of Bruce's in a year across all states
babynames_index.loc[('Bruce')]['Count'].mean()

70.30573248407643

In [ ]:
babynames_index = babynames_index.swaplevel('Name', 'State').sort_index()

In [ ]:
babynames_index.index

MultiIndex([('MA',  'Aaden', 2008),
            ('MA',  'Aaden', 2009),
            ('MA',  'Aaden', 2012),
            ('MA', 'Aadhya', 2013),
            ('MA', 'Aadhya', 2014),
            ('MA', 'Aadhya', 2015),
            ('MA', 'Aadhya', 2016),
            ('MA', 'Aadhya', 2018),
            ('MA', 'Aadhya', 2019),
            ('MA', 'Aadhya', 2020),
            ...
            ('VT',   'Zoey', 2010),
            ('VT',   'Zoey', 2011),
            ('VT',   'Zoey', 2012),
            ('VT',   'Zoey', 2013),
            ('VT',   'Zoey', 2014),
            ('VT',   'Zoey', 2015),
            ('VT',   'Zoey', 2016),
            ('VT',   'Zoey', 2017),
            ('VT',   'Zoey', 2020),
            ('VT',   'Zoey', 2021)],
           names=['State', 'Name', 'Year'], length=245450)

In [ ]:
# what name and state had the largest number of same name children ... most popular
babynames.set_index(['Count','Name']).sort_index(ascending=False)

              State Gender  Year
Count Name
3895  Robert     MA      M  1947
3828  John       MA      M  1947
3663  Robert     MA      M  1946
3608  John       MA      M  1961
3549  John       MA      M  1964
...             ...    ...   ...
5     Aaliyah    VT      F  2015
      Aadya      MA      F  2021
      Aadi       MA      M  2007
      Aaden      MA      M  2012
      Aaden      ME      M  2009

[245450 rows x 3 columns]

In [ ]:
babynames_index = babynames.set_index(['Name','State','Year','Gender']).sort_index()
babynames_index

                          Count
Name   State Year Gender
Aaden  MA    2008 M          10
             2009 M          25
             2012 M           5
       ME    2009 M           5
Aadhya MA    2013 F           8
...                         ...
Zyaire MA    2021 M          13
Zyla   MA    2021 F           5
Zylah  MA    2020 F           5
Zyon   MA    2013 M           6
             2021 M           8

[245450 rows x 1 columns]

In [ ]:
# Unstack puts the values of last index, Gender, into columns
babynames_index = babynames_index.unstack()
babynames_index

                  Count
Gender                F     M
Name   State Year
Aaden  MA    2008   NaN  10.0
             2009   NaN  25.0
             2012   NaN   5.0
       ME    2009   NaN   5.0
Aadhya MA    2013   8.0   NaN
...                 ...   ...
Zyaire MA    2021   NaN  13.0
Zyla   MA    2021   5.0   NaN
Zylah  MA    2020   5.0   NaN
Zyon   MA    2013   NaN   6.0
             2021   NaN   8.0

[240544 rows x 2 columns]

In [ ]:
# Now we have columns which are multi-index
babynames_index.columns

MultiIndex([('Count', 'F'),
            ('Count', 'M')],
           names=[None, 'Gender'])

In [ ]:
#lets access one of the two columns
babynames_index[('Count','F')]

Name    State  Year
Aaden   MA     2008    NaN
               2009    NaN
               2012    NaN
        ME     2009    NaN
Aadhya  MA     2013    8.0
                      ...
Zyaire  MA     2021    NaN
Zyla    MA     2021    5.0
Zylah   MA     2020    5.0
Zyon    MA     2013    NaN
               2021    NaN
Name: (Count, F), Length: 240544, dtype: float64

In [ ]:
# Show all the names that have both male and female babies during a given year
babynames_index[~babynames_index.isnull().any(axis=1)]

                   Count
Gender                 F      M
Name    State Year
Adam    MA    1983   8.0  673.0
              1984   7.0  635.0
Addison MA    1995   7.0    7.0
              1999   7.0    7.0
              2003  12.0    6.0
...                  ...    ...
William MA    1985   7.0  575.0
              1988   5.0  634.0
        ME    1930   5.0  186.0
Wren    MA    2021  23.0    6.0
Zion    MA    2018   9.0   36.0

[4906 rows x 2 columns]

In [ ]:
babynames_index = babynames_index.unstack()
babynames_index

             Count                                               ...       \
Gender           F                                               ...    M
Year          1910 1911 1912 1913 1914 1915 1916 1917 1918 1919  ... 2012
Name   State                                                     ...
Aaden  MA      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  5.0
       ME      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN
Aadhya MA      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN
Aadi   MA      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN
Aadya  MA      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN
...            ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
Zyair  MA      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN
Zyaire MA      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN
Zyla   MA      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN
Zylah  MA      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN
Zyon   MA      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN


Gender
Year         2013 2014 2015 2016 2017 2018 2019  2020  2021
Name   State
Aaden  MA     NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
       ME     NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
Aadhya MA     NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
Aadi   MA     NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
Aadya  MA     NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
...           ...  ...  ...  ...  ...  ...  ...   ...   ...
Zyair  MA     NaN  NaN  NaN  NaN  NaN  NaN  NaN   6.0   5.0
Zyaire MA     NaN  NaN  NaN  7.0  NaN  5.0  6.0  10.0  13.0
Zyla   MA     NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
Zylah  MA     NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN
Zyon   MA     6.0  NaN  NaN  NaN  NaN  NaN  NaN   NaN   8.0

[11155 rows x 224 columns]

In [ ]:
#Get the columns
babynames_index.columns

MultiIndex([('Count', 'F', 1910),
            ('Count', 'F', 1911),
            ('Count', 'F', 1912),
            ('Count', 'F', 1913),
            ('Count', 'F', 1914),
            ('Count', 'F', 1915),
            ('Count', 'F', 1916),
            ('Count', 'F', 1917),
            ('Count', 'F', 1918),
            ('Count', 'F', 1919),
            ...
            ('Count', 'M', 2012),
            ('Count', 'M', 2013),
            ('Count', 'M', 2014),
            ('Count', 'M', 2015),
            ('Count', 'M', 2016),
            ('Count', 'M', 2017),
            ('Count', 'M', 2018),
            ('Count', 'M', 2019),
            ('Count', 'M', 2020),
            ('Count', 'M', 2021)],
           names=[None, 'Gender', 'Year'], length=224)

In [ ]:
# drop = false keeps the columns as well as having them in the index
babynames_index = babynames.set_index(['State','Name','Year', 'Gender'],drop=False).sort_index()
babynames_index

                         State Gender  Year    Name  Count
State Name   Year Gender
MA    Aaden  2008 M         MA      M  2008   Aaden     10
             2009 M         MA      M  2009   Aaden     25
             2012 M         MA      M  2012   Aaden      5
      Aadhya 2013 F         MA      F  2013  Aadhya      8
             2014 F         MA      F  2014  Aadhya      7
...                        ...    ...   ...     ...    ...
VT    Zoey   2015 F         VT      F  2015    Zoey     10
             2016 F         VT      F  2016    Zoey     12
             2017 F         VT      F  2017    Zoey      8
             2020 F         VT      F  2020    Zoey      9
             2021 F         VT      F  2021    Zoey     11

[245450 rows x 5 columns]

In [ ]:
# When we unstack gender, we have to create M/F columns for each field
babynames_index = babynames_index.unstack()
babynames_index

                  State      Gender         Year            Name        Count  \
Gender                F    M      F    M       F       M       F      M     F
State Name   Year
MA    Aaden  2008   NaN   MA    NaN    M     NaN  2008.0     NaN  Aaden   NaN
             2009   NaN   MA    NaN    M     NaN  2009.0     NaN  Aaden   NaN
             2012   NaN   MA    NaN    M     NaN  2012.0     NaN  Aaden   NaN
      Aadhya 2013    MA  NaN      F  NaN  2013.0     NaN  Aadhya    NaN   8.0
             2014    MA  NaN      F  NaN  2014.0     NaN  Aadhya    NaN   7.0
...                 ...  ...    ...  ...     ...     ...     ...    ...   ...
VT    Zoey   2015    VT  NaN      F  NaN  2015.0     NaN    Zoey    NaN  10.0
             2016    VT  NaN      F  NaN  2016.0     NaN    Zoey    NaN  12.0
             2017    VT  NaN      F  NaN  2017.0     NaN    Zoey    NaN   8.0
             2020    VT  NaN      F  NaN  2020.0     NaN    Zoey    NaN   9.0
             2021    VT  NaN      F  NaN  2021.0     NaN    Zoey    NaN  11.0


Gender                M
State Name   Year
MA    Aaden  2008  10.0
             2009  25.0
             2012   5.0
      Aadhya 2013   NaN
             2014   NaN
...                 ...
VT    Zoey   2015   NaN
             2016   NaN
             2017   NaN
             2020   NaN
             2021   NaN

[240544 rows x 10 columns]

In [ ]:
# When can drop those fields
babynames_index = babynames_index.drop(["State", "Name", "Year", "Gender"], axis=1)
babynames_index

                  Count
Gender                F     M
State Name   Year
MA    Aaden  2008   NaN  10.0
             2009   NaN  25.0
             2012   NaN   5.0
      Aadhya 2013   8.0   NaN
             2014   7.0   NaN
...                 ...   ...
VT    Zoey   2015  10.0   NaN
             2016  12.0   NaN
             2017   8.0   NaN
             2020   9.0   NaN
             2021  11.0   NaN

[240544 rows x 2 columns]

In [ ]:
babynames_index.reset_index()

       State    Name  Year Count
Gender                         F     M
0         MA   Aaden  2008   NaN  10.0
1         MA   Aaden  2009   NaN  25.0
2         MA   Aaden  2012   NaN   5.0
3         MA  Aadhya  2013   8.0   NaN
4         MA  Aadhya  2014   7.0   NaN
...      ...     ...   ...   ...   ...
240539    VT    Zoey  2015  10.0   NaN
240540    VT    Zoey  2016  12.0   NaN
240541    VT    Zoey  2017   8.0   NaN
240542    VT    Zoey  2020   9.0   NaN
240543    VT    Zoey  2021  11.0   NaN

[240544 rows x 5 columns]

## Groups
Groups are another form of hierachical ordering of data

In [72]:
# We can form groups from Index levels
babynames_index.groupby(level='Name').sum()
#babynames_index.groupby(level='State').sum()

         Count
Name
Aaden       45
Aadhya      58
Aadi         5
Aadya       34
Aaliyah   1883
...        ...
Zyair       11
Zyaire      41
Zyla         5
Zylah        5
Zyon        14

[5705 rows x 1 columns]

In [111]:
# Or we can build the group directly from the original data file
name_groups = babynames.groupby('Name')
bruce_df = name_groups.get_group('Bruce')
bruce_df

      State Gender  Year   Name  Count
23682    NH      M  1922  Bruce      7
23807    NH      M  1923  Bruce      7
23935    NH      M  1924  Bruce      7
24064    NH      M  1925  Bruce      7
24192    NH      M  1926  Bruce      5
...     ...    ...   ...    ...    ...
24309    VT      M  1984  Bruce      5
24439    VT      M  1985  Bruce      5
24569    VT      M  1986  Bruce      5
24811    VT      M  1988  Bruce      6
24940    VT      M  1989  Bruce      6

[314 rows x 5 columns]

In [80]:
bruce_df.reset_index(drop=True)

    State Gender  Year   Name  Count
0      NH      M  1922  Bruce      7
1      NH      M  1923  Bruce      7
2      NH      M  1924  Bruce      7
3      NH      M  1925  Bruce      7
4      NH      M  1926  Bruce      5
..    ...    ...   ...    ...    ...
309    VT      M  1984  Bruce      5
310    VT      M  1985  Bruce      5
311    VT      M  1986  Bruce      5
312    VT      M  1988  Bruce      6
313    VT      M  1989  Bruce      6

[314 rows x 5 columns]

In [81]:
print(type(name_groups))
print(type(bruce_group))

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>
<class 'pandas.core.frame.DataFrame'>

In [130]:
print(name_groups.Count.max())
print(name_groups.Count.max().max())
print(name_groups.Count.idxmax())
print(name_groups.Count.max().idxmax())

Name
Aaden       25
Aadhya      10
Aadi         5
Aadya        8
Aaliyah    107
          ...
Zyair        6
Zyaire      13
Zyla         5
Zylah        5
Zyon         8
Name: Count, Length: 5705, dtype: int64
3895
Name
Aaden      113166
Aadhya      64508
Aadi       112022
Aadya       65564
Aaliyah     51656
            ...
Zyair      122587
Zyaire     123110
Zyla        70899
Zylah       69900
Zyon       123295
Name: Count, Length: 5705, dtype: int64
Robert

In [121]:
babynames[babynames['Count']==name_groups.Count.max().max()]

      State Gender  Year    Name  Count
82901    MA      M  1947  Robert   3895

In [128]:
names_max = name_groups.apply(lambda df: df.loc[df.Count.idxmax()])[0]
names_max

Name
Aaden  State        MA
       Gender        M
       Year       2009
       Name      Aaden
       Count        25
                 ...
Zyon   State        MA
       Gender        M
       Year       2021
       Name       Zyon
       Count         8
Name: 0, Length: 28522, dtype: object

In [95]:
# In this grouping, a multi index will be created

baby_name_group = babynames.groupby(['Name','State'])
baby_name_group.Count.sum()
#    babynames.groupby(['Name','State'])['Count'].sum()
# or baby_name_group['Count'].sum()

Name    State
Aaden   MA       40
        ME        5
Aadhya  MA       58
Aadi    MA        5
Aadya   MA       34
                 ..
Zyair   MA       11
Zyaire  MA       41
Zyla    MA        5
Zylah   MA        5
Zyon    MA       14
Name: Count, Length: 11155, dtype: int64

In [134]:
baby_name_group.indices

{('Aaden', 'MA'): array([153117, 153723, 156574]),
 ('Aaden', 'ME'): array([212758]),
 ('Aadhya',
  'MA'): array([103222, 104239, 105065, 106262, 108231, 109153, 110204, 111077]),
 ('Aadi', 'MA'): array([152579]),
 ('Aadya', 'MA'): array([103365, 105223, 106121, 110055, 111307]),
 ('Aaliyah',
  'MA'): array([ 85662,  86468,  87565,  88051,  89020,  90032,  90615,  91371,
         92213,  93173,  94086,  95010,  95949,  96928,  97933,  98872,
         99816, 100738, 101710, 102688, 103670, 104642, 105591, 106579,
        107586, 108573, 109590, 110569]),
 ('Aaliyah',
  'ME'): array([185370, 186811, 186992, 187285, 187531, 187837, 188118, 188424,
        188585, 188908, 189148, 189432, 189649, 189943, 190266, 190565,
        191024, 191274, 191588, 192071]),
 ('Aaliyah',
  'NH'): array([16844, 17304, 17649, 18454, 18884, 19153, 19429, 19707, 19930,
        20224, 20457, 20881, 21007, 21354, 21583, 21856]),
 ('Aaliyah',
  'VT'): array([229147, 229682, 229793, 230168, 230315, 230373, 230490, 230656,
        230811, 231137]),
 ('Aamir', 'MA'): array([158178, 158880, 159869]),
 ('Aanya',
  'MA'): array([ 98452,  99590, 100291, 101329, 102048, 103177, 104087, 105066,
        106122, 109154, 109964, 111130]),
 ('Aaradhya', 'MA'): array([104419]),
 ('Aarav',
  'MA'): array([151819, 152499, 153191, 153797, 154576, 155372, 156161, 156942,
        157805, 158681, 159398, 160291, 161071, 162055, 162844, 163668]),
 ('Aariv', 'MA'): array([162994, 163997]),
 ('Aarna',
  'MA'): array([102292, 105384, 106357, 107253, 109155, 109932, 111131]),
 ('Aarohi', 'MA'): array([107351, 111308]),
 ('Aaron',
  'MA'): array([111759, 112019, 112250, 112654, 112993, 113250, 113635, 114072,
        114476, 114863, 115630, 116344, 116773, 117139, 117509, 117873,
        118479, 118913, 119149, 119492, 119816, 120658, 121496, 122155,
        122474, 122743, 123017, 123345, 123743, 124030, 125035, 125414,
        125654, 126007, 126392, 126694, 127050, 127408, 127819, 128188,
        128570, 128954, 129356, 129747, 130117, 130488, 130890, 131272,
        131645, 132033, 132482, 132932, 133373, 133794, 134221, 134644,
        135071, 135488, 135905, 136331, 136746, 137175, 137624, 138064,
        138496, 138968, 139458, 139956, 140491, 141058, 141639, 142199,
        142771, 143346, 143934, 144515, 145107, 145718, 146345, 147004,
        147641, 148338, 149042, 149776, 150500, 151204, 151978, 152766,
        153562, 154358, 155145, 155942, 156756, 157560, 158389, 159234,
        160034, 160867, 161678, 162533, 163353]),
 ('Aaron',
  'ME'): array([200646, 201777, 201988, 202489, 202669, 202881, 203173, 203351,
        203575, 203787, 204002, 204189, 204398, 204584, 204780, 204993,
        205171, 205361, 205550, 205742, 205927, 206119, 206306, 206494,
        206671, 206860, 207045, 207221, 207424, 207609, 207794, 207972,
        208165, 208360, 208565, 208773, 208984, 209198, 209399, 209615,
        209801, 210039, 210237, 210443, 210669, 210904, 211143, 211395,
        211647, 211882, 212130, 212444, 212628, 212881, 213171, 213432,
        213671, 213970, 214206, 214556, 214833, 215376, 215544, 215864]),
 ('Aaron',
  'NH'): array([28104, 28933, 29064, 29291, 29442, 29568, 29755, 29889, 30007,
        30152, 30296, 30453, 30607, 30751, 30905, 31056, 31192, 31355,
        31494, 31646, 31806, 31963, 32123, 32284, 32441, 32604, 32773,
        32950, 33114, 33312, 33503, 33699, 33878, 34083, 34259, 34485,
        34679, 34872, 35084, 35321, 35503, 35710, 35971, 36172, 36410,
        36642, 36877, 37120, 37359, 37593, 37862, 38130, 38355, 38676,
        38876, 39143, 39417, 39697, 39893, 40240, 40400]),
 ('Aaron',
  'VT'): array([237797, 237905, 238078, 238169, 238271, 238409, 238509, 238650,
        238763, 238889, 239002, 239124, 239236, 239360, 239473, 239582,
        239710, 239827, 239946, 240065, 240211, 240337, 240456, 240602,
        240704, 240842, 240975, 241108, 241238, 241371, 241496, 241637,
        241788, 241944, 242061, 242211, 242354, 242507, 242697, 242815,
        242961, 243153, 243281, 243393, 243537, 244109, 244310, 244467,
        244600]),
 ('Aarush',
  'MA'): array([152395, 153293, 153980, 154772, 155680, 156426, 157148, 158108,
        158941, 160481, 161356, 162056, 163145]),
 ('Aarya',
  'MA'): array([ 97660, 101504, 103178, 104321, 105385, 106263, 107352, 108009,
        109933, 111204]),
 ('Aaryan', 'MA'): array([156484, 159785]),
 ('Aashvi', 'MA'): array([108335]),
 ('Aavya', 'MA'): array([109044]),
 ('Aayan', 'MA'): array([158179, 159033, 160448, 163906]),
 ('Aayush', 'MA'): array([156575, 158109, 158942, 162057]),
 ('Abagail', 'MA'): array([ 93747,  96653,  99425, 100565]),
 ('Abagail', 'NH'): array([18455]),
 ('Abbey',
  'MA'): array([ 73950,  74564,  75966,  76503,  77235,  77947,  78679,  79357,
         80915,  81604,  82571,  83446,  84154,  84960,  85663,  86553,
         87690,  88122,  88958,  89782,  90967,  91680,  92668,  93389,
         94613,  95236,  96184,  97493,  98453, 100472, 101505]),
 ('Abbey', 'ME'): array([185371, 186093, 186583]),
 ('Abbey', 'NH'): array([12182, 13353, 15639, 15891, 17603]),
 ('Abbie',
  'MA'): array([ 40763,  41629,  42080,  42970,  44766,  47306,  48172,  74482,
         75180,  77280,  80983,  84421,  86804,  87566,  89274,  90078,
         91032,  92705,  94679,  95352,  96654,  97661,  98639,  99591,
        100566, 101408, 102231]),
 ('Abbie',
  'ME'): array([164883, 165079, 165347, 166055, 181795, 183312, 183876, 184874,
        185061, 185348, 185862, 186812, 187320, 187893, 188743]),
 ('Abbie', 'NH'): array([11590, 12441, 15892]),
 ('Abbigail', 'MA'): array([ 94771,  95690,  99426, 101090, 102487, 104420]),
 ('Abbigail', 'ME'): array([186757, 187048, 187360, 187620, 187838, 188460]),
 ('Abbott', 'MA'): array([114062, 115329]),
 ('Abby',
  'MA'): array([ 61918,  64356,  65011,  65607,  67457,  68163,  68748,  70164,
         70712,  72061,  73769,  74349,  74979,  75589,  76301,  77082,
         77716,  78496,  79217,  80077,  80787,  81468,  82374,  83168,
         84076,  84908,  85664,  86449,  87347,  88063,  88878,  89729,
         90603,  91401,  92352,  93254,  94221,  95160,  96069,  97142,
         98217,  99098, 100118, 101120, 102049, 102984, 104175, 105224,
        106264, 106989, 107942, 108807, 109909, 110803]),
 ('Abby',
  'ME'): array([181015, 181250, 181715, 182009, 182284, 182506, 182815, 182975,
        183313, 183547, 183877, 184122, 184298, 184577, 184790, 185062,
        185250, 185527, 185818, 185982, 186251, 186748, 187006, 187231,
        187561, 187799, 188078, 188662, 188939, 189498, 190076]),
 ('Abby',
  'NH'): array([11537, 11761, 11930, 12183, 12410, 12616, 13083, 13520, 13773,
        14068, 14685, 15430, 15602, 15854, 16107, 16612, 16860, 17093,
        17320, 17566, 17850, 18418, 18714, 21087]),
 ('Abby', 'VT'): array([226078, 226216, 227588, 229278, 229409, 230063]),
 ('Abdiel',
  'MA'): array([150232, 153294, 154173, 154735, 155525, 156347, 157910, 159681,
        160687, 161108, 161847, 162762, 163697]),
 ('Abdirahman', 'MA'): array([159786]),
 ('Abdul', 'MA'): array([134978, 142025, 146824]),
 ('Abdullah',
  'MA'): array([146825, 149603, 151038, 151507, 154174, 156576, 157072, 157953,
        158830, 159558, 160449, 161199]),
 ('Abdullahi', 'MA'): array([158180]),
 ('Abdullahi', 'ME'): array([213507]),
 ('Abdulrahman', 'MA'): array([155751, 157390]),
 ('Abe', 'MA'): array([113410]),
 ('Abel',
  'MA'): array([113411, 114915, 115655, 116367, 117109, 133668, 134547, 134910,
        135816, 137526, 141365, 142619, 143774, 144346, 144883, 146772,
        147989, 150312, 151672, 152396, 153372, 153871, 154736, 155620,
        156191, 156893, 157701, 158484, 159348, 160167, 160984, 161786,
        162690, 163587]),
 ('Abel',
  'ME'): array([213202, 213456, 213663, 213902, 214122, 214437, 214758, 215004,
        215234, 215594, 215791]),
 ('Abel',
  'NH'): array([37723, 37942, 38380, 38646, 38866, 39133, 39418, 39666, 39916,
        40178, 40408]),
 ('Abel', 'VT'): array([244169, 244435, 244572, 244762, 244970]),
 ('Abhinav', 'MA'): array([148877, 150964]),
 ('Abhiram', 'MA'): array([149604, 155752]),
 ('Abigael', 'MA'): array([ 92842,  95592,  97662,  99427, 103366]),
 ('Abigail',
  'MA'): array([ 48940,  51082,  51793,  53860,  54215,  56566,  57528,  58052,
         58618,  59017,  59533,  60033,  60646,  61159,  61872,  62432,
         62953,  63721,  64381,  64870,  65493,  66799,  67211,  67881,
         68495,  69262,  69852,  70460,  71071,  71676,  72247,  72947,
         73531,  74177,  74837,  75464,  76154,  76829,  77517,  78217,
         78945,  79681,  80416,  81242,  82080,  82925,  83760,  84572,
         85368,  86192,  87015,  87823,  88634,  89496,  90369,  91235,
         92151,  93056,  93970,  94901,  95843,  96829,  97804,  98780,
         99741, 100697, 101644, 102633, 103603, 104563, 105522, 106515,
        107516, 108503, 109488, 110470]),
 ('Abigail',
  'ME'): array([179556, 180026, 180453, 180785, 181016, 181201, 181448, 181701,
        181950, 182201, 182452, 182715, 182995, 183225, 183465, 183704,
        183955, 184229, 184458, 184691, 184927, 185167, 185414, 185654,
        185899, 186144, 186382, 186633, 186885, 187138, 187402, 187672,
        187946, 188222, 188516, 188797, 189066, 189345, 189600, 189863,
        190121, 190384, 190650, 190925, 191191, 191441, 191693, 191939]),
 ('Abigail',
  'NH'): array([10341, 10539, 10731, 10951, 11066, 11275, 11503, 11669, 11885,
        12098, 12319, 12542, 12779, 12992, 13251, 13491, 13738, 13954,
        14235, 14492, 14751, 15003, 15251, 15478, 15710, 15945, 16182,
        16430, 16681, 16927, 17191, 17438, 17692, 17966, 18230, 18508,
        18781, 19062, 19319, 19584, 19859, 20118, 20383, 20666, 20924,
        21191, 21438, 21686, 21941, 22197]),
 ('Abigail',
  'VT'): array([224890, 225075, 225341, 225449, 225561, 225720, 225879, 226013,
        226145, 226327, 226467, 226648, 226781, 226913, 227075, 227215,
        227346, 227515, 227648, 227815, 227937, 228063, 228216, 228348,
        228487, 228638, 228767, 228910, 229048, 229170, 229307, 229446,
        229581, 229709, 229845, 229975, 230097, 230223, 230350, 230465,
        230587, 230727, 230845, 230962, 231098, 231178, 231329, 231456]),
 ('Abigale',
  'MA'): array([ 87567,  88489,  90145,  91758,  92669,  93748,  95593,  96482,
         97564,  99592, 102488]),
 ('Abigayle',
  'MA'): array([85963, 87629, 89368, 90146, 90781, 91856, 93552, 95461, 96571,
        98640, 99593]),
 ('Abigayle', 'ME'): array([186070, 186813, 187096, 189014]),
 ('Abigayle', 'NH'): array([16638]),
 ('Abner',
  'MA'): array([151039, 153295, 153981, 154876, 157218, 158110, 158943, 159870,
        160688, 162252, 163146]),
 ('Abraham',
  'MA'): array([111561, 111691, 111847, 112126, 112418, 112772, 113160, 113544,
        113940, 114341, 114747, 115093, 115483, 115905, 116280, 116694,
        117085, 117454, 117835, 118166, 118535, 118862, 119150, 124733,
        125727, 131514, 132347, 132835, 133267, 133703, 134121, 134484,
        134877, 135363, 136129, 136567, 136913, 137361, 137840, 138312,
        138707, 139231, 139729, 140217, 140731, 141393, 141854, 142394,
        142992, 143691, 144179, 144747, 145351, 145923, 146549, 147205,
        147868, 148568, 149321, 149957, 150781, 151431, 152180, 152955,
        153752, 154737, 155329, 156154, 156948, 157724, 158520, 159317,
        160195, 161018, 161821, 162670, 163537]),
 ('Abraham',
  'ME'): array([193277, 205327, 206037, 206813, 207547, 209530, 210573, 211774,
        212952, 213800, 214332, 214855, 215110]),
 ('Abraham',
  'NH'): array([31910, 36078, 37724, 38224, 38707, 38995, 39445, 40218]),
 ('Abraham', 'VT'): array([242291, 244763]),
 ('Abram',
  'MA'): array([134979, 137527, 152580, 154175, 155753, 157219, 157954, 158831,
        159433, 160689, 161227, 163998]),
 ('Abram',
  'ME'): array([212730, 213529, 213772, 214064, 214254, 214512, 214794, 215083]),
 ('Abram', 'NH'): array([38225, 38708, 40257]),
 ('Abriana', 'MA'): array([101506]),
 ('Abrianna', 'MA'): array([ 91033,  97565,  99428, 102380]),
 ('Abrielle', 'MA'): array([100400, 102489, 105225, 106358]),
 ('Acacia', 'MA'): array([82746]),
 ('Acadia', 'MA'): array([101507, 108095]),
 ('Acadia', 'ME'): array([187321, 187621, 188181, 189015, 189558, 190600]),
 ('Ace',
  'MA'): array([154176, 155754, 158047, 158721, 159732, 160326, 161125, 161867,
        162691, 163506]),
 ('Ace', 'NH'): array([40521]),
 ('Achille', 'MA'): array([116057]),
 ('Achilles', 'MA'): array([158181]),
 ('Ada',
  'MA'): array([ 40715,  40915,  41172,  41524,  41858,  42289,  42712,  43175,
         43628,  44096,  44542,  44978,  45456,  45851,  46305,  46777,
         47183,  47599,  48060,  48440,  48823,  49265,  49643,  49976,
         50349,  50756,  51418,  52165,  52990,  53427,  53810,  54671,
         55657,  57611,  63199,  66728,  68022,  69414,  70165,  72004,
         75226,  78006,  84283,  90147,  91857,  92765,  94549,  95519,
         96422,  97433,  98270,  99218, 100139, 101011, 102025, 102872,
        103822, 104789, 105736, 106768, 107662, 108621, 109593, 110548]),
 ('Ada',
  'ME'): array([164323, 164427, 164619, 164781, 165022, 165247, 165475, 165706,
        165959, 166163, 166451, 166701, 166923, 167234, 167509, 167691,
        167917, 168156, 168397, 168634, 168883, 169276, 169542, 169760,
        169968, 170410, 172532, 188182, 189284, 190244, 190868, 191097,
        191306, 191562, 191802, 192119]),
 ('Ada',
  'NH'): array([  452,  1079,  1399, 19009, 20516, 20802, 21355, 21584, 22044,
        22348]),
 ('Ada',
  'VT'): array([216081, 216383, 216508, 216647, 217481, 217921, 230169, 230555,
        230674, 230812, 231230]),
 ('Adalberto', 'MA'): array([141455]),
 ('Adalia', 'MA'): array([111309]),
 ('Adalina', 'MA'): array([111132]),
 ('Adaline',
  'MA'): array([105030, 105833, 106864, 107893, 108866, 109934, 110938]),
 ('Adaline', 'ME'): array([190811, 191058, 191285, 191589, 192120]),
 ('Adaline', 'NH'): array([20839, 20986, 21285]),
 ('Adaline', 'VT'): array([231259]),
 ('Adalyn',
  'MA'): array([ 99498, 100292, 101183, 101966, 102954, 103910, 104750, 105762,
        106698, 107800, 108808, 109666, 110655]),
 ('Adalyn',
  'ME'): array([189249, 189701, 190077, 190232, 190535, 190812, 191025, 191352,
        191636, 191791]),
 ('Adalyn',
  'NH'): array([19010, 20034, 20197, 20757, 21014, 21325, 21546, 21760, 22115,
        22302]),
 ('Adalyn', 'VT'): array([230921]),
 ('Adalynn',
  'MA'): array([100567, 102122, 103179, 104034, 104898, 105869, 106789, 107813,
        108796, 109711, 110727]),
 ('Adalynn',
  'ME'): array([190014, 190502, 190724, 191059, 191286, 191544, 191884]),
 ('Adalynn',
  'NH'): array([20069, 20331, 20566, 20764, 21047, 21306, 21487, 21784, 22068,
        22334]),
 ('Adalynn', 'VT'): array([230427, 231123]),
 ('Adam',
  'MA'): array([ 77186,  77904, 111696, 111964, 112158, 112473, 112802, 113213,
        113636, 113981, 114380, 114824, 115135, 115584, 115958, 116324,
        116714, 117064, 117531, 117874, 118480, 118863, 119796, 120384,
        120956, 122449, 124695, 125051, 125728, 126404, 127097, 127421,
        127766, 128133, 128501, 128876, 129271, 129659, 130059, 130448,
        130841, 131227, 131608, 132027, 132475, 132919, 133364, 133783,
        134207, 134631, 135052, 135466, 135882, 136306, 136715, 137152,
        137589, 138036, 138472, 138943, 139431, 139941, 140469, 141033,
        141616, 142178, 142750, 143333, 143917, 144500, 145086, 145703,
        146323, 146977, 147629, 148310, 149018, 149745, 150462, 151182,
        151959, 152744, 153546, 154349, 155122, 155951, 156737, 157547,
        158378, 159223, 160039, 160860, 161674, 162510, 163363]),
 ('Adam',
  'ME'): array([202490, 202740, 202918, 203102, 203321, 203558, 203781, 203988,
        204212, 204411, 204592, 204784, 204994, 205189, 205376, 205560,
        205735, 205924, 206105, 206293, 206485, 206656, 206843, 207021,
        207204, 207398, 207585, 207773, 207956, 208145, 208351, 208562,
        208778, 208989, 209197, 209390, 209600, 209792, 210016, 210231,
        210438, 210674, 210887, 211117, 211374, 211608, 211853, 212099,
        212367, 212601, 212882, 213172, 213421, 213712, 213971, 214243,
        214489, 214759, 215022, 215284, 215613]),
 ('Adam',
  'NH'): array([23438, 28915, 29130, 29233, 29419, 29598, 29710, 29873, 30026,
        30168, 30311, 30475, 30612, 30762, 30910, 31044, 31189, 31333,
        31478, 31629, 31788, 31942, 32098, 32243, 32411, 32579, 32741,
        32925, 33095, 33289, 33497, 33676, 33868, 34063, 34253, 34469,
        34674, 34865, 35075, 35275, 35489, 35706, 35923, 36138, 36386,
        36613, 36890, 37126, 37360, 37617, 37866, 38095, 38339, 38602,
        38870, 39189, 39413, 39647, 39903, 40179, 40401]),
 ('Adam',
  'VT'): array([237532, 237942, 238043, 238193, 238307, 238406, 238518, 238646,
        238782, 238910, 239018, 239125, 239241, 239350, 239454, 239561,
        239689, 239808, 239927, 240052, 240173, 240308, 240429, 240562,
        240682, 240817, 240953, 241084, 241231, 241360, 241486, 241638,
        241773, 241920, 242075, 242196, 242351, 242487, 242638, 242784,
        242930, 243132, 243241, 243414, 243538, 243702, 243854, 244266,
        244573, 244725]),
 ('Adan', 'MA'): array([153373, 154038]),
 ('Addie', 'MA'): array([ 42081,  75284, 106359]),
 ('Addie', 'NH'): array([19536]),
 ('Addilyn',
  'MA'): array([104322, 105226, 106265, 107120, 107943, 109156, 111018]),
 ('Addilyn', 'ME'): array([190536, 190746, 191038, 191275, 192089]),
 ('Addilyn', 'NH'): array([21088, 21356]),
 ('Addilynn', 'ME'): array([190601, 191131, 191387]),
 ('Addison',
  'MA'): array([ 86056,  86740,  90079,  91858,  92706,  93491,  94422,  95276,
         95927,  96856,  97826,  98810,  99757, 100717, 101670, 102655,
        103643, 104601, 105564, 106567, 107574, 108560, 109546, 110518,
        139302, 140373, 141456, 142577, 144314, 144973, 146214, 146733,
        149522, 150182, 150965, 151582, 158944]),
 ('Addison',
  'ME'): array([186584, 187097, 187520, 187726, 187987, 188235, 188527, 188804,
        189068, 189344, 189622, 189868, 190123, 190423, 190657, 190939,
        191200, 191443, 191737, 191963]),
 ('Addison',
  'NH'): array([16639, 17354, 17650, 17911, 18260, 18524, 18784, 19071, 19322,
        19592, 19870, 20124, 20385, 20669, 20954, 21208, 21447, 21728,
        21966, 22203, 35220, 35646, 35857]),
 ('Addison',
  'VT'): array([229493, 229611, 229721, 229857, 229977, 230096, 230235, 230348,
        230474, 230631, 230728, 230851, 230971, 231082, 231186, 231315,
        231399]),
 ('Addisyn',
  'MA'): array([ 97663,  98641, 100340, 101508, 102293, 103223, 104421, 105386,
        106266]),
 ('Addisyn', 'ME'): array([189559, 189784, 190267, 190602, 191388]),
 ('Addisyn', 'NH'): array([19537, 21126]),
 ('Addyson',
  'MA'): array([ 97291,  98454,  99219, 100164, 101121, 101967, 103180, 104240,
        104998, 106033, 107353, 108336]),
 ('Addyson',
  'ME'): array([187894, 188370, 188628, 189016, 189218, 189474, 189785, 190078,
        190331, 190838, 191132]),
 ('Addyson', 'NH'): array([18715, 18914, 19538, 20008, 20300]),
 ('Adela',
  'MA'): array([ 41021,  42019,  42460,  42971,  43859,  44262,  44737,  45161,
         45958,  46925, 102169, 104422, 105227]),
 ('Adelaide',
  'MA'): array([ 40764,  40954,  41223,  41535,  41877,  42305,  42749,  43225,
         43616,  44145,  44573,  45002,  45436,  45914,  46322,  46842,
         47213,  47604,  48039,  48485,  48873,  49247,  49589,  50000,
         50722,  51063,  51435,  51768,  52577,  56143,  90080,  91936,
         92843,  93492,  94499,  95462,  96162,  97321,  98179,  99243,
        100012, 101002, 101886, 102892, 103786, 104734, 105712, 106733,
        107702, 108742, 109637, 110638]),
 ('Adelaide',
  'ME'): array([164324, 164676, 164851, 165046, 165330, 165798, 166001, 166289,
        166541, 166732, 167248, 186846, 187858, 188709, 189219, 189560,
        189815, 190079, 190207, 190463, 191133, 191287, 191637, 191849,

In [73]:
babynames.groupby(['Name','State']).agg(['mean','sum'])

/var/folders/5_/1q5g7zw51ls7r13tyhw3v3kr0000gr/T/ipykernel_99098/3429691813.py:1: FutureWarning: ['Gender'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  babynames.groupby(['Name','State']).agg(['mean','sum'])

                     Year             Count
                     mean    sum       mean sum
Name   State
Aaden  MA     2009.666667   6029  13.333333  40
       ME     2009.000000   2009   5.000000   5
Aadhya MA     2017.000000  16136   7.250000  58
Aadi   MA     2007.000000   2007   5.000000   5
Aadya  MA     2017.000000  10085   6.800000  34
...                   ...    ...        ...  ..
Zyair  MA     2020.500000   4041   5.500000  11
Zyaire MA     2018.800000  10094   8.200000  41
Zyla   MA     2021.000000   2021   5.000000   5
Zylah  MA     2020.000000   2020   5.000000   5
Zyon   MA     2017.000000   4034   7.000000  14

[11155 rows x 4 columns]

In [57]:
babynames.groupby(['Name','State']).get_group(('Bruce','ME'))

      State Gender  Year   Name  Count
29198    ME      M  1917  Bruce      5
29392    ME      M  1918  Bruce      6
30476    ME      M  1923  Bruce      5
30612    ME      M  1924  Bruce     12
30868    ME      M  1925  Bruce      8
...     ...    ...   ...    ...    ...
44528    ME      M  1991  Bruce     12
44764    ME      M  1992  Bruce      8
45231    ME      M  1994  Bruce      5
45431    ME      M  1995  Bruce      5
46047    ME      M  1998  Bruce      5

[75 rows x 5 columns]

In [58]:
# Finds the maximum in each numeric column
babynames.groupby(['Name','State']).get_group(('Bruce','ME')).max()

State        ME
Gender        M
Year       1998
Name      Bruce
Count       156
dtype: object