<a href="https://colab.research.google.com/github/usm-cos422-522/courseMaterials/blob/main/Lectures/Covid_19_Web_scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import requests
page = requests.get("https://www.worldometers.info/coronavirus")

In [3]:
from bs4 import BeautifulSoup

In [4]:
#Instatiating the BeautifulSoup Class
soup = BeautifulSoup(page.content, 'lxml')
#Where soup is a variable containing the HTML of the webpage

In [6]:
#print(soup.prettify())

In [20]:
#list(soup.children)

In [8]:
# Search for the table and extracting it
table = soup.find('table', attrs={'id': 'main_table_countries_today'})

In [9]:
rows = table.find_all("tr", attrs={"style": ""})

In [10]:
rows[2]

<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">1</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/us/">USA</a></td>
<td style="font-weight: bold; text-align:right">96,643,172</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">1,072,978 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">92,602,975</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">2,967,219</td>
<td style="font-weight: bold; text-align:right">3,635</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">1,102,944,561</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"> </td>
<td data-continent="North America" style="display:none">North America</td>
<td></td><td></td><td></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
</tr>

In [11]:
rows[2].text

'\n1\nUSA\n96,643,172\n\n1,072,978 \n\n92,602,975\n\n2,967,219\n3,635\n\n\n1,102,944,561\n\n \nNorth America\n\n\n\n\n'

In [12]:
rows[2].text.strip().split("\n")

['1',
 'USA',
 '96,643,172',
 '',
 '1,072,978 ',
 '',
 '92,602,975',
 '',
 '2,967,219',
 '3,635',
 '',
 '',
 '1,102,944,561',
 '',
 ' ',
 'North America']

In [13]:
rows[2].text.strip().split("\n")[:12]

['1',
 'USA',
 '96,643,172',
 '',
 '1,072,978 ',
 '',
 '92,602,975',
 '',
 '2,967,219',
 '3,635',
 '',
 '']

In [14]:
data = []
for i,item in enumerate(rows):
    
    if i == 0:
        
        data.append(item.text.strip().split("\n")[:13])
        
    else:
        data.append(item.text.strip().split("\n")[:12])

In [16]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

import pandas as pd

df = pd.DataFrame(data)
df = pd.DataFrame(data[1:], columns=data[0][:12]) #Formatting

In [17]:
df.head()

,#,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",TotÂ Cases/1M pop,Deaths/1M pop
0,World,"610,991,155","+351,562","6,505,881",+844,"588,555,718","+581,950","15,929,556","41,995","78,384",834.6,
1,1,USA,"96,643,172",,"1,072,978",,"92,602,975",,"2,967,219","3,635",,
2,2,India,"44,466,862",,"528,030",,"43,886,496",,"52,336",698,"31,548",375
3,3,France,"34,596,180",,"154,273",,"34,086,063",,"355,844",869,"527,482","2,352"
4,4,Brazil,"34,525,438",,"684,503",,"33,546,726",,"294,209","8,318","159,956","3,171"

In [18]:
df.to_csv('./Extracted_data.csv')

In [19]:
data[1:]

[['World',
  '610,991,155',
  '+351,562',
  '6,505,881',
  '+844',
  '588,555,718',
  '+581,950',
  '15,929,556',
  '41,995',
  '78,384',
  '834.6',
  ''],
 ['1',
  'USA',
  '96,643,172',
  '',
  '1,072,978 ',
  '',
  '92,602,975',
  '',
  '2,967,219',
  '3,635',
  '',
  ''],
 ['2',
  'India',
  '44,466,862',
  '',
  '528,030 ',
  '',
  '43,886,496',
  '',
  '52,336',
  '698',
  '31,548',
  '375'],
 ['3',
  'France',
  '34,596,180',
  '',
  '154,273 ',
  '',
  '34,086,063',
  '',
  '355,844',
  '869',
  '527,482',
  '2,352'],
 ['4',
  'Brazil',
  '34,525,438',
  '',
  '684,503 ',
  '',
  '33,546,726',
  '',
  '294,209',
  '8,318',
  '159,956',
  '3,171'],
 ['5',
  'Germany',
  '32,297,537',
  '',
  '147,861 ',
  '',
  '31,508,400',
  '+60,600',
  '641,276',
  '1,406',
  '382,826',
  '1,753'],
 ['6',
  'S. Korea',
  '23,706,477',
  '+99,737',
  '27,193 ',
  '+44',
  '21,972,888',
  '+138,685',
  '1,706,396',
  '536',
  '461,529',
  '529'],
 ['7',
  'UK',
  '23,521,792',
  '',
  '188,242 ',
  '',
  '23,239,400',
  '+7,269',
  '94,150',
  '146',
  '342,579',
  '2,742'],
 ['8',
  'Italy',
  '21,969,725',
  '+24,848',
  '175,952 ',
  '+80',
  '21,222,429',
  '+42,884',
  '571,344',
  '185',
  '364,530',
  '2,919'],
 ['9',
  'Russia',
  '19,809,613',
  '+38,500',
  '384,882  ',
  '+95',
  '18,823,705',
  '+46,304',
  '601,026',
  '2,300',
  '135,617',
  '2,635'],
 ['10',
  'Japan',
  '19,534,517',
  '+84,295',
  '41,293 ',
  '+239',
  '17,940,876',
  '+161,342',
  '1,552,348',
  '512',
  '155,486',
  '329'],
 ['11',
  'Turkey',
  '16,797,750',
  '',
  '100,840 ',
  '',
  '16,628,164',
  '',
  '68,746',
  '975',
  '194,617',
  '1,168'],
 ['12',
  'Spain',
  '13,358,722',
  '+1,675',
  '112,923 ',
  '+29',
  '13,153,261',
  '+6,701',
  '92,538',
  '339',
  '285,479',
  '2,413'],
 ['13',
  'Vietnam',
  '11,424,754',
  '+3,964',
  '43,123 ',
  '+1',
  '10,237,971',
  '+5,690',
  '1,143,660',
  '117',
  '115,120',
  '435'],
 ['14',
  'Australia',
  '10,085,040',
  '+9,293',
  '14,152 ',
  '+75',
  '9,967,355',
  '',
  '103,533',
  '77',
  '385,764',
  '541'],
 ['15',
  'Argentina',
  '9,689,861',
  '',
  '129,769 ',
  '',
  '9,503,963',
  '',
  '56,129',
  '366',
  '210,205',
  '2,815'],
 ['16',
  'Netherlands',
  '8,392,953',
  '+1,453',
  '22,609 ',
  '+4',
  '8,330,805',
  '+3,645',
  '39,539',
  '28',
  '487,473',
  '1,313'],
 ['17',
  'Iran',
  '7,535,272',
  '+1,090',
  '144,048 ',
  '+29',
  '7,310,746',
  '+1,319',
  '80,478',
  '788',
  '87,285',
  '1,669'],
 ['18',
  'Mexico',
  '7,041,805',
  '+624',
  '329,630 ',
  '+8',
  '6,302,084',
  '+3,735',
  '410,091',
  '4,798',
  '53,397',
  '2,500'],
 ['19',
  'Indonesia',
  '6,378,489',
  '+3,607',
  '157,696 ',
  '+28',
  '6,182,661',
  '+5,136',
  '38,132',
  '2,771',
  '22,796',
  '564'],
 ['20',
  'Colombia',
  '6,302,809',
  '',
  '141,646 ',
  '',
  '6,128,460',
  '',
  '32,703',
  '342',
  '121,064',
  '2,721'],
 ['21',
  'Poland',
  '6,193,765',
  '+5,845',
  '117,174 ',
  '+21',
  '5,335,959',
  '',
  '740,632',
  '2,782',
  '164,045',
  '3,103'],
 ['22',
  'Taiwan',
  '5,503,725',
  '+36,707',
  '10,115 ',
  '+21',
  '4,942,451',
  '+24,817',
  '551,159',
  '',
  '230,181',
  '423'],
 ['23',
  'Portugal',
  '5,433,073',
  '+3,733',
  '24,893 ',
  '+7',
  '5,338,460',
  '+3,033',
  '69,720',
  '61',
  '536,222',
  '2,457'],
 ['24',
  'Ukraine',
  '5,056,378',
  '',
  '108,841 ',
  '',
  '4,926,987',
  '+777',
  '20,550',
  '177',
  '117,146',
  '2,522'],
 ['25',
  'Austria',
  '4,931,352',
  '+4,247',
  '19,455 ',
  '+13',
  '4,853,555',
  '+7,052',
  '58,342',
  '54',
  '540,832',
  '2,134'],
 ['26',
  'Malaysia',
  '4,792,942',
  '',
  '36,249 ',
  '',
  '4,729,147',
  '',
  '27,546',
  '79',
  '144,073',
  '1,090'],
 ['28',
  'Greece',
  '4,762,827',
  '',
  '32,552 ',
  '',
  '4,701,244',
  '+7,257',
  '29,031',
  '115',
  '461,851',
  '3,157'],
 ['29',
  'Thailand',
  '4,660,964',
  '+1,062',
  '32,447 ',
  '+22',
  '4,614,025',
  '+1,963',
  '14,492',
  '1,496',
  '66,414',
  '462'],
 ['30',
  'Israel',
  '4,637,442',
  '',
  '11,620 ',
  '',
  '4,616,308',
  '',
  '9,514',
  '266',
  '497,259',
  '1,246'],
 ['31',
  'Chile',
  '4,536,380',
  '',
  '60,639 ',
  '',
  '4,452,292',
  '',
  '23,449',
  '140',
  '232,959',
  '3,114'],
 ['32',
  'Belgium',
  '4,492,773',
  '',
  '32,561 ',
  '',
  '4,413,901',
  '+3,719',
  '46,311',
  '57',
  '384,023',
  '2,783'],
 ['33',
  'Canada',
  '4,179,337',
  '',
  '44,085 ',
  '',
  '4,051,443',
  '+3,600',
  '83,809',
  '257',
  '108,663',
  '1,146'],
 ['34',
  'Peru',
  '4,115,878',
  '',
  '215,928 ',
  '',
  '3,870,750',
  '+10,699',
  '29,200',
  '205',
  '121,161',
  '6,356'],
 ['35',
  'Czechia',
  '4,049,517',
  '+2,756',
  '40,857 ',
  '',
  '3,995,959',
  '+1,795',
  '12,701',
  '27',
  '376,624',
  '3,800'],
 ['36',
  'Switzerland',
  '4,040,280',
  '+1,946',
  '14,157 ',
  '',
  '3,957,247',
  '+4,999',
  '68,876',
  '55',
  '459,531',
  '1,610'],
 ['37',
  'South Africa',
  '4,012,920',
  '',
  '102,108 ',
  '',
  '3,904,513',
  '',
  '6,299',
  '192',
  '65,857',
  '1,676'],
 ['38',
  'Philippines',
  '3,894,840',
  '+1,326',
  '62,118 ',
  '+56',
  '3,809,450',
  '+2,432',
  '23,272',
  '648',
  '34,544',
  '551'],
 ['39',
  'Romania',
  '3,231,240',
  '+2,876',
  '66,795 ',
  '+16',
  '3,122,815',
  '+2,593',
  '41,630',
  '165',
  '170,433',
  '3,523'],
 ['40',
  'Denmark',
  '3,095,179',
  '+809',
  '6,960 ',
  '+7',
  '3,079,855',
  '+821',
  '8,364',
  '1',
  '530,312',
  '1,192'],
 ['41',
  'Sweden',
  '2,569,152',
  '',
  '19,873 ',
  '',
  '2,528,612',
  '+573',
  '20,667',
  '15',
  '250,989',
  '1,941'],
 ['42',
  'Iraq',
  '2,458,509',
  '',
  '25,348 ',
  '',
  '2,431,657',
  '',
  '1,504',
  '21',
  '58,280',
  '601'],
 ['43',
  'Serbia',
  '2,297,227',
  '',
  '16,750 ',
  '',
  '2,214,345',
  '',
  '66,132',
  '28',
  '265,240',
  '1,934'],
 ['44',
  'Hungary',
  '2,048,547',
  '',
  '47,291 ',
  '',
  '1,962,698',
  '',
  '38,558',
  '23',
  '213,233',
  '4,923'],
 ['45',
  'Bangladesh',
  '2,013,407',
  '+313',
  '29,329 ',
  '+1',
  '1,957,655',
  '+197',
  '26,423',
  '1,331',
  '11,966',
  '174'],
 ['46',
  'Singapore',
  '1,847,270',
  '',
  '1,596 ',
  '',
  '1,771,353',
  '',
  '74,321',
  '11',
  '310,447',
  '268'],
 ['47',
  'Slovakia',
  '1,835,665',
  '+337',
  '20,369 ',
  '+4',
  '1,811,314',
  '+542',
  '3,982',
  '22',
  '335,871',
  '3,727'],
 ['48',
  'New Zealand',
  '1,751,284',
  '+2,145',
  '2,791 ',
  '+12',
  '1,736,579',
  '+2,556',
  '11,914',
  '',
  '350,110',
  '558'],
 ['49',
  'Jordan',
  '1,738,867',
  '',
  '14,114 ',
  '',
  '1,721,850',
  '',
  '2,903',
  '59',
  '166,825',
  '1,354'],
 ['50',
  'Georgia',
  '1,735,682',
  '',
  '16,889 ',
  '',
  '1,637,293',
  '',
  '81,500',
  '',
  '436,921',
  '4,251'],
 ['51',
  'Ireland',
  '1,656,956',
  '',
  '7,798 ',
  '',
  '1,641,626',
  '+270',
  '7,532',
  '9',
  '327,612',
  '1,542'],
 ['52',
  'Hong Kong',
  '1,601,793',
  '+9,373',
  '9,741 ',
  '+9',
  '1,348,516',
  '+4,246',
  '243,536',
  '14',
  '209,956',
  '1,277'],
 ['53',
  'Pakistan',
  '1,570,206',
  '',
  '30,593 ',
  '',
  '1,531,183',
  '',
  '8,430',
  '119',
  '6,821',
  '133'],
 ['54',
  'Norway',
  '1,460,554',
  '',
  '3,980 ',
  '',
  '1,454,972',
  '',
  '1,602',
  '20',
  '264,911',
  '722'],
 ['55',
  'Kazakhstan',
  '1,390,263',
  '+154',
  '13,684 ',
  '',
  '1,359,849',
  '+311',
  '16,730',
  '24',
  '72,166',
  '710'],
 ['56',
  'Finland',
  '1,266,917',
  '',
  '5,690 ',
  '',
  '1,237,282',
  '+1,916',
  '23,945',
  '21',
  '227,886',
  '1,023'],
 ['57',
  'Morocco',
  '1,264,556',
  '',
  '16,274 ',
  '',
  '1,247,943',
  '',
  '339',
  '293',
  '33,399',
  '430'],
 ['58',
  'Bulgaria',
  '1,245,457',
  '',
  '37,620 ',
  '',
  '1,196,215',
  '',
  '11,622',
  '42',
  '182,221',
  '5,504'],
 ['59',
  'Lithuania',
  '1,222,463',
  '+1,538',
  '9,297 ',
  '+1',
  '1,194,709',
  '+2,975',
  '18,457',
  '7',
  '463,081',
  '3,522'],
 ['60',
  'Croatia',
  '1,216,935',
  '+479',
  '16,756 ',
  '+10',
  '1,196,078',
  '+549',
  '4,101',
  '10',
  '300,457',
  '4,137'],
 ['61',
  'Lebanon',
  '1,211,140',
  '',
  '10,639 ',
  '',
  '1,087,587',
  '',
  '112,914',
  '186',
  '179,188',
  '1,574'],
 ['62',
  'Tunisia',
  '1,143,862',
  '',
  '29,234 ',
  '',
  'N/A',
  'N/A',
  'N/A',
  '99',
  '94,632',
  '2,419'],
 ['63',
  'Slovenia',
  '1,134,394',
  '+2,508',
  '6,787 ',
  '',
  '1,109,160',
  '+2,331',
  '18,447',
  '15',
  '545,497',
  '3,264'],
 ['64',
  'Cuba',
  '1,110,759',
  '+17',
  '8,530 ',
  '',
  '1,102,006',
  '+43',
  '223',
  '23',
  '98,196',
  '754'],
 ['65',
  'Guatemala',
  '1,105,036',
  '',
  '19,567 ',
  '',
  '1,080,044',
  '',
  '5,425',
  '5',
  '59,296',
  '1,050'],
 ['66',
  'Bolivia',
  '1,104,421',
  '+319',
  '22,209 ',
  '',
  '1,036,157',
  '+1,209',
  '46,055',
  '220',
  '91,888',
  '1,848'],
 ['67',
  'Costa Rica',
  '1,058,467',
  '',
  '8,867 ',
  '',
  '860,711',
  '',
  '188,889',
  '52',
  '203,738',
  '1,707'],
 ['68',
  'UAE',
  '1,017,954',
  '+411',
  '2,341 ',
  '',
  '997,502',
  '+402',
  '18,111',
  '',
  '100,289',
  '231'],
 ['69',
  'Nepal',
  '998,167',
  '+177',
  '12,007 ',
  '',
  '983,703',
  '+164',
  '2,457',
  '',
  '32,969',
  '397'],
 ['70',
  'Ecuador',
  '997,540',
  '',
  '35,862 ',
  '',
  '954,023',
  '',
  '7,655',
  '759',
  '54,733',
  '1,968'],
 ['71',
  'Belarus',
  '994,037',
  '',
  '7,118 ',
  '',
  '985,592',
  '',
  '1,327',
  '',
  '105,272',
  '754'],
 ['72',
  'Panama',
  '981,822',
  '',
  '8,480 ',
  '',
  '968,108',
  '',
  '5,234',
  '16',
  '220,020',
  '1,900'],
 ['73',
  'Uruguay',
  '981,186',
  '',
  '7,455 ',
  '',
  '971,994',
  '',
  '1,737',
  '18',
  '280,348',
  '2,130'],
 ['74',
  'Mongolia',
  '980,283',
  '',
  '2,179 ',
  '',
  '972,054',
  '',
  '6,050',
  '192',
  '288,908',
  '642'],
 ['75',
  'Latvia',
  '902,890',
  '+795',
  '5,953 ',
  '+3',
  '886,713',
  '+2,977',
  '10,224',
  '6',
  '490,454',
  '3,234'],
 ['76',
  'Azerbaijan',
  '815,523',
  '',
  '9,825 ',
  '',
  '802,256',
  '',
  '3,442',
  '',
  '78,887',
  '950'],
 ['77',
  'Saudi Arabia',
  '813,986',
  '+108',
  '9,309 ',
  '+3',
  '801,135',
  '+127',
  '3,542',
  '39',
  '22,615',
  '259'],
 ['78',
  'Paraguay',
  '715,569',
  '',
  '19,494 ',
  '',
  '694,192',
  '',
  '1,883',
  '7',
  '97,715',
  '2,662'],
 ['79',
  'Bahrain',
  '672,636',
  '',
  '1,515 ',
  '',
  '669,589',
  '',
  '1,532',
  '2',
  '367,523',
  '828'],
 ['80',
  'Sri Lanka',
  '670,218',
  '',
  '16,712 ',
  '',
  '652,970',
  '',
  '536',
  '',
  '31,017',
  '773'],
 ['81',
  'Kuwait',
  '657,395',
  '',
  '2,563 ',
  '',
  '654,470',
  '',
  '362',
  '3',
  '149,141',
  '581'],
 ['82',
  'Dominican Republic',
  '640,064',
  '',
  '4,384 ',
  '',
  '634,640',
  '',
  '1,040',
  '19',
  '57,745',
  '396'],
 ['83',
  'Palestine',
  '620,371',
  '',
  '5,402 ',
  '',
  '606,702',
  '',
  '8,267',
  '17',
  '115,757',
  '1,008'],
 ['84',
  'Myanmar',
  '615,654',
  '',
  '19,441 ',
  '',
  '593,816',
  '',
  '2,397',
  '',
  '11,153',
  '352'],
 ['85',
  'Estonia',
  '598,580',
  '+822',
  '2,657 ',
  '+6',
  '524,990',
  '',
  '70,933',
  '2',
  '450,577',
  '2,000'],
 ['86',
  'Cyprus',
  '578,030',
  '',
  '1,172 ',
  '',
  '571,734',
  '+304',
  '5,124',
  '60',
  '471,299',
  '956'],
 ['87',
  'Moldova',
  '575,052',
  '',
  '11,755 ',
  '',
  '504,142',
  '',
  '59,155',
  '49',
  '143,276',
  '2,929'],
 ['88',
  'Venezuela',
  '543,025',
  '',
  '5,802 ',
  '',
  '535,511',
  '',
  '1,712',
  '36',
  '19,215',
  '205'],
 ['89',
  'Egypt',
  '515,645',
  '',
  '24,613 ',
  '',
  '442,182',
  '',
  '48,850',
  '122',
  '4,840',
  '231'],
 ['90',
  'Libya',
  '506,860',
  '',
  '6,437 ',
  '',
  '500,326',
  '',
  '97',
  '101',
  '71,647',
  '910'],
 ['91',
  'Ethiopia',
  '493,272',
  '',
  '7,572 ',
  '',
  '471,666',
  '',
  '14,034',
  '9',
  '4,071',
  '62'],
 ['92',
  'RÃ©union',
  '463,155',
  '',
  '874 ',
  '',
  '418,572',
  '',
  '43,709',
  '10',
  '509,410',
  '961'],
 ['93',
  'Honduras',
  '454,779',
  '',
  '10,989 ',
  '',
  'N/A',
  'N/A',
  'N/A',
  '105',
  '44,381',
  '1,072'],
 ['94',
  'Armenia',
  '436,727',
  '',
  '8,662 ',
  '',
  '423,359',
  '',
  '4,706',
  '',
  '146,785',
  '2,911'],
 ['95',
  'Qatar',
  '432,846',
  '+644',
  '681 ',
  '',
  '427,561',
  '+584',
  '4,604',
  '3',
  '154,158',
  '243'],
 ['96',
  'Oman',
  '397,846',
  '',
  '4,260 ',
  '',
  '384,669',
  '',
  '8,917',
  '2',
  '73,826',
  '791'],
 ['97',
  'Bosnia and Herzegovina',
  '396,524',
  '',
  '16,074 ',
  '',
  '375,243',
  '',
  '5,207',
  '',
  '122,516',
  '4,966'],
 ['98',
  'North Macedonia',
  '341,127',
  '+179',
  '9,499 ',
  '',
  '330,328',
  '+175',
  '1,300',
  '',
  '163,752',
  '4,560'],
 ['99',
  'Kenya',
  '338,243',
  '+6',
  '5,674 ',
  '',
  '332,443',
  '+12',
  '126',
  '2',
  '6,003',
  '101'],
 ['100',
  'Zambia',
  '333,086',
  '',
  '4,017 ',
  '',
  '328,755',
  '',
  '314',
  '1',
  '17,078',
  '206'],
 ['101',
  'Albania',
  '330,221',
  '',
  '3,582 ',
  '',
  '323,077',
  '',
  '3,562',
  '',
  '115,021',
  '1,248'],
 ['102',
  'Botswana',
  '325,864',
  '',
  '2,778 ',
  '',
  '322,955',
  '',
  '131',
  '1',
  '132,743',
  '1,132'],
 ['103',
  'Luxembourg',
  '288,658',
  '',
  '1,123 ',
  '',
  '283,668',
  '',
  '3,867',
  '',
  '445,379',
  '1,733'],
 ['104',
  'Montenegro',
  '276,636',
  '+196',
  '2,778 ',
  '',
  '271,595',
  '+252',
  '2,263',
  '6',
  '440,336',
  '4,422'],
 ['105',
  'Algeria',
  '270,461',
  '',
  '6,879 ',
  '',
  '182,088',
  '',
  '81,494',
  '6',
  '5,935',
  '151'],
 ['106',
  'Nigeria',
  '263,867',
  '',
  '3,148 ',
  '',
  '257,453',
  '',
  '3,266',
  '11',
  '1,215',
  '14'],
 ['107',
  'Zimbabwe',
  '256,769',
  '',
  '5,596 ',
  '',
  '251,036',
  '',
  '137',
  '12',
  '16,746',
  '365'],
 ['108',
  'Uzbekistan',
  '243,863',
  '',
  '1,637 ',
  '',
  '241,486',
  '',
  '740',
  '23',
  '7,064',
  '47'],
 ['109',
  'Mozambique',
  '230,130',
  '',
  '2,221 ',
  '',
  '227,811',
  '',
  '98',
  '11',
  '6,940',
  '67'],
 ['110',
  'Brunei ',
  '220,245',
  '',
  '225 ',
  '',
  '219,561',
  '',
  '459',
  '3',
  '493,177',
  '504'],
 ['111',
  'Martinique',
  '218,764',
  '',
  '1,035 ',
  '',
  'N/A',
  'N/A',
  'N/A',
  '8',
  '583,942',
  '2,763'],
 ['112',
  'Laos',
  '214,563',
  '+108',
  '757 ',
  '',
  'N/A',
  'N/A',
  'N/A',
  '',
  '28,589',
  '101'],
 ['113',
  'Kyrgyzstan',
  '205,835',
  '',
  '2,991 ',
  '',
  '196,406',
  '',
  '6,438',
  '131',
  '30,457',
  '443'],
 ['114',
  'Iceland',
  '204,717',
  '',
  '179 ',
  '',
  'N/A',
  'N/A',
  'N/A',
  '2',
  '591,572',
  '517'],
 ['115',
  'El Salvador',
  '201,785',
  '',
  '4,224 ',
  '',
  '179,266',
  '',
  '18,295',
  '8',
  '30,772',
  '644'],
 ['116',
  'Afghanistan',
  '194,614',
  '+170',
  '7,783 ',
  '',
  '172,547',
  '+114',
  '14,284',
  '1,124',
  '4,766',
  '191'],
 ['117',
  'Guadeloupe',
  '191,997',
  '',
  '986 ',
  '',
  'N/A',
  'N/A',
  'N/A',
  '19',
  '479,665',
  '2,463'],
 ['118',
  'Maldives',
  '184,924',
  '',
  '308 ',
  '',
  '163,687',
  '',
  '20,929',
  '25',
  '329,491',
  '549'],
 ['119',
  'Trinidad and Tobago',
  '180,008',
  '',
  '4,161 ',
  '',
  '170,372',
  '',
  '5,475',
  '18',
  '127,725',
  '2,952'],
 ['120',
  'Uganda',
  '169,396',
  '',
  '3,628  ',
  '',
  '100,431',
  '',
  '65,337',
  '3',
  '3,465',
  '74'],
 ['121',
  'Namibia',
  '169,253',
  '',
  '4,065 ',
  '',
  '164,813',
  '',
  '375',
  '',
  '64,088',
  '1,539'],
 ['122',
  'Ghana',
  '168,580',
  '',
  '1,459 ',
  '',
  '167,080',
  '',
  '41',
  '2',
  '5,190',
  '45'],
 ['123',
  'Jamaica',
  '150,307',
  '',
  '3,268 ',
  '',
  '97,095',
  '',
  '49,944',
  '',
  '50,282',
  '1,093'],
 ['124',
  'Cambodia',
  '137,679',
  '+11',
  '3,056 ',
  '',
  '134,532',
  '+25',
  '91',
  '',
  '7,994',
  '177'],
 ['125',
  'Rwanda',
  '132,455',
  '',
  '1,466 ',
  '',
  '130,901',
  '',
  '88',
  '',
  '9,703',
  '107'],
 ['126',
  'Cameroon',
  '121,652',
  '',
  '1,935 ',
  '',
  '118,616',
  '',
  '1,101',
  '13',
  '4,347',
  '69'],
 ['127',
  'Malta',
  '114,172',
  '+21',
  '802 ',
  '',
  '112,879',
  '+24',
  '491',
  '4',
  '257,087',
  '1,806'],
 ['128',
  'Angola',
  '102,636',
  '',
  '1,917 ',
  '',
  '100,437',
  '',
  '282',
  '',
  '2,925',
  '55'],
 ['129',
  'Barbados',
  '101,510',
  '',
  '544 ',
  '',
  '100,175',
  '',
  '791',
  '',
  '352,294',
  '1,888'],
 ['130',
  'French Guiana',
  '93,735',
  '',
  '408 ',
  '',
  '11,254',
  '',
  '82,073',
  '3',
  '297,087',
  '1,293'],
 ['131',
  'DRC',
  '92,711',
  '',
  '1,405 ',
  '',
  '83,504',
  '',
  '7,802',
  '',
  '971',
  '15'],
 ['132',
  'Channel Islands',
  '89,930',
  '',
  '198 ',
  '',
  '89,356',
  '',
  '376',
  '',
  '507,088',
  '1,116'],
 ['133',
  'Senegal',
  '88,132',
  '',
  '1,968 ',
  '',
  '86,026',
  '',
  '138',
  '',
  '4,978',
  '111'],
 ['134',
  'Malawi',
  '87,908',
  '',
  '2,678 ',
  '',
  '84,928',
  '',
  '302',
  '67',
  '4,351',
  '133'],
 ['135',
  'Ivory Coast',
  '86,824',
  '',
  '819 ',
  '',
  '85,972',
  '',
  '33',
  '',
  '3,123',
  '29'],
 ['136',
  'Suriname',
  '81,039',
  '',
  '1,383 ',
  '',
  '49,614',
  '',
  '30,042',
  '',
  '135,504',
  '2,312'],
 ['137',
  'French Polynesia',
  '76,500',
  '',
  '649 ',
  '',
  'N/A',
  'N/A',
  'N/A',
  '7',
  '268,952',
  '2,282'],
 ['138',
  'New Caledonia',
  '73,798',
  '',
  '314 ',
  '',
  '73,032',
  '',
  '452',
  '9',
  '253,198',
  '1,077'],
 ['139',
  'Eswatini',
  '73,368',
  '',
  '1,422 ',
  '',
  '71,923',
  '',
  '23',
  '11',
  '61,847',
  '1,199'],
 ['140',
  'Guyana',
  '71,102',
  '',
  '1,279 ',
  '',
  '69,620',
  '',
  '203',
  '',
  '89,459',
  '1,609'],
 ['141',
  'Belize',
  '68,350',
  '',
  '680 ',
  '',
  '67,542',
  '',
  '128',
  '6',
  '165,368',
  '1,645'],
 ['142',
  'Fiji',
  '68,177',
  '',
  '878 ',
  '',
  '66,192',
  '',
  '1,107',
  '',
  '74,873',
  '964'],
 ['143',
  'Madagascar',
  '66,640',
  '',
  '1,410 ',
  '',
  '65,196',
  '',
  '34',
  '2',
  '2,279',
  '48'],
 ['144',
  'Sudan',
  '63,266',
  '',
  '4,961 ',
  '',
  'N/A',
  'N/A',
  'N/A',
  '',
  '1,373',
  '108'],
 ['145',
  'Mauritania',
  '62,771',
  '',
  '993 ',
  '',
  '61,748',
  '',
  '30',
  '',
  '12,770',
  '202'],
 ['146',
  'Cabo Verde',
  '62,328',
  '',
  '410 ',
  '',
  '61,847',
  '',
  '71',
  '23',
  '109,518',
  '720'],
 ['147',
  'Bhutan',
  '61,233',
  '',
  '21 ',
  '',
  '61,145',
  '',
  '67',
  '',
  '77,503',
  '27'],
 ['148',
  'Syria',
  '57,098',
  '',
  '3,163 ',
  '',
  '53,609',
  '',
  '326',
  '',
  '3,099',
  '172'],
 ['149',
  'Burundi',
  '49,370',
  '',
  '38 ',
  '',
  '48,578',
  '',
  '754',
  '',
  '3,899',
  '3'],
 ['150',
  'Gabon',
  '48,649',
  '',
  '306 ',
  '',
  '48,067',
  '',
  '276',
  '',
  '20,791',
  '131'],
 ['151',
  'Seychelles',
  '46,081',
  '',
  '169 ',
  '',
  '45,777',
  '',
  '135',
  '',
  '462,336',
  '1,696'],
 ['152',
  'Andorra',
  '46,027',
  '',
  '154 ',
  '',
  '45,791',
  '',
  '82',
  '14',
  '593,636',
  '1,986'],
 ['153',
  'CuraÃ§ao',
  '45,127',
  '',
  '282 ',
  '',
  '44,720',
  '',
  '125',
  '3',
  '272,587',
  '1,703'],
 ['154',
  'Papua New Guinea',
  '44,894',
  '',
  '664 ',
  '',
  '43,982',
  '',
  '248',
  '7',
  '4,819',
  '71'],
 ['155',
  'Aruba',
  '42,914',
  '',
  '227 ',
  '',
  '42,438',
  '',
  '249',
  '2',
  '398,270',
  '2,107'],
 ['156',
  'Mauritius',
  '40,299',
  '',
  '1,022 ',
  '',
  '38,573',
  '',
  '704',
  '',
  '31,574',
  '801'],
 ['157',
  'Mayotte',
  '40,095',
  '',
  '187 ',
  '',
  'N/A',
  'N/A',
  'N/A',
  '',
  '139,643',
  '651'],
 ['158',
  'Tanzania',
  '38,951',
  '',
  '845 ',
  '',
  'N/A',
  'N/A',
  'N/A',
  '7',
  '614',
  '13'],
 ['159',
  'Togo',
  '38,546',
  '',
  '283 ',
  '',
  '38,058',
  '',
  '205',
  '',
  '4,430',
  '33'],
 ['160',
  'Isle of Man',
  '38,008',
  '',
  '116 ',
  '',
  'N/A',
  'N/A',
  'N/A',
  '',