In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pp
%matplotlib inline
import requests
import os.path
import io

In [1]:
# read in the file and display the first five records

data_url = "https://raw.githubusercontent.com/usm-cos422-522/courseMaterials/main/data/ElectricCarData.csv"

In [8]:
# Count the total number of cars by brand
# But first, to do this, we must first strip all the white space
cars_df['Brand'] = cars_df['Brand'].str.strip()

In [3]:
# Group the cars by Brand and save results in a Dataframe named brand_df.
# Then create a volkswagen dataframe by selecting the Volkswagen group
# Display the first five records of the Volkswagen dataframe

In [2]:
# Using the brand_df, find the maximum priced model of each Brand

In [5]:
#Using the brand_df, find the average range of models associated with each brand

In [43]:
# Form two new dataframes german_df and japanese_df with all records that have the following brands
GermanCars = ['Ford', 'Mercedes', 'BMV', 'Audi']
JapaneseCars = ['Toyota', 'Honda', 'Nissan', 'Mitsubishi ']

In [50]:
# Form a new german_jap_df that concatenates the above two dataframes together

In [6]:
#Display the counts of the distinct values in the Segment column

In [7]:
#Create a new dataframe that has dummy columns (or indicator variables) that indicate which
# segment the car belongs to using a (1,0), Use the prefix 'segment' for the column name
# display the results to verify it was done correctly